<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configuration for Playwright tests -->
  
  <RunConfiguration>
    <!-- Timeout for test runs in milliseconds -->
    <TestSessionTimeout>600000</TestSessionTimeout>
  </RunConfiguration>

  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
      <SlowMo>100</SlowMo>
    </LaunchOptions>
    <ExpectTimeout>5000</ExpectTimeout>
  </Playwright>

  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>detailed</Verbosity>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
</RunSettings>